
body {color:white; background: maroon;font-family:cursive;font-size:1.3em;justify-content:center;line-height:1.5}
h1 {color:#FFC0CB;text-align:left;}
h2{color:#ADD8E6}
#final {color:yellow;text-decoration:underline}
.right {text-align:left}
#finremark{font-style:italic; font-size:0.9em}